.feature-photo{
  width:100%;
  max-height: 350px;
}

.social_icon{
  color:black;
}
body {
    background: linear-gradient(to right, #ddd6f3, #faaca8);}

input {
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.219);

}

.card{
    border: none;
    border-radius: 5px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.219) !important;
}
.postfield {
    border: none;
    border-radius: 5px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.219);
}
.comment{
    border: none;
    border-radius: 5px;
    min-height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.219);
}
button {
    border: none;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.877);

}

.card-body{
    border: none !important;
    border-radius: 5px !important;
    background-color: rgba(255, 255, 255, 0.219) !important;
}
.avatar{
    width: 100%;
    height: 250px;
}

.social_icon:hover {
color:white;
}
/* .textarea{
 width:100%;
height:100%; 
box-sizing: border-box; 
} */
.header_bar_social {
    margin-right: 15px;
}

.header_bar_social ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header_bar_social li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    font-size: 14px;
}

.header_bar_social li a {
    color: #000000;
    transition: all .35s;
}

.header-bar-social li a:hover {
    color: #afafaf;
}
.header_bar_text,
.header_bar_email {
    font-size: 12px;
    color: #070000;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

.header_bar_text {
    margin-right: 42px;
}

.header_bar_text p {
    margin: 0;
}
.site-branding {
    padding: 40px 0;
}

.site-title {
    font-size: 72px;
    font-family: fantasy;
    color: #2f2f2f;
    text-decoration: none;
    /* text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;  */
}

.site-description {
    width:1000px;
    margin: -5px 0 0;
    font-size: 15px;
    letter-spacing: 0.26rem;
    color: #b39090;
    text-transform: uppercase;
    text-align: right;
}
.section{
    list-style: none;
    
}
.section li a{
color:black!important;
}

.single-page {
    padding-top: 165px;
    padding-bottom: 100px;
}

.single-page .content-wrap {
    margin-top: 110px;
    text-align: center;
    color: #afafaf;
}

.single-page .content-wrap .posted-date {
    font-size: 12px;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.single-page .content-wrap .entry-title {
    margin-top: 12px;
    font-size: 30px;
    color: #2f2f2f;
}

.single-page .content-wrap .tags-links {
    margin-top: 35px;
}

.single-page .content-wrap .tags-links a {
    margin-right: 15px;
    font-size: 16px;
    color: #afafaf;
}

.single-page .content-wrap .featured-image {
    margin-top: 42px;
}

.single-page .content-wrap .featured-image img {
    max-width: 100%;
}

.single-page .content-wrap .entry-content {
    margin-top: 36px;
}

.single-page .content-wrap .entry-content p {
    font-size: 14px;
    line-height: 2rem;
    text-align: left;
}

.single-page .blockquote-text {
    padding-left: 114px;
    margin-top: 84px;
    font-size: 18px;
    line-height: 2.2rem;
    color: #2f2f2f;
    text-align: left;
    background: url("images/cocktaile.png") no-repeat left center;
}

.single-page .blockquote-text p::first-letter {
    font-size: 36px;
}

.single-page .content-wrap .entry-footer {
    margin-top: 50px;
}

.post-share,
.comments-count {
    width: 100%;
}

.post-share {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    color: #afafaf;
}

.post-share label {
    margin: 0 12px 0 0;
    font-size: 18px;
}

.post-share li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0 12px;
    font-size: 15px;
}

.post-share li a {
    color: #afafaf;
    transition: all 0.35s;
}

.post-share li a:hover {
    color: #2f2f2f;
}

.content-wrap a.read-more {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background: #2f2f2f;
}

.comments-count {
    font-size: 16px;
    text-align: left;
}

.comments-count a {
    color: #afafaf;
}