<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <!-- 
<body>
    <h1>Hello World</h1>
    <a href="{{ url_for('create') }}">Add post</a>
    <a href="{{ url_for('login') }}">Login matherfuqueur</a>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Author_name</th>
                <th>Published</th>
            </tr>
        </thead>

        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.author_name }}</td>
                <td>{{ post.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('logout')}}"><button>Logout</button></a>
</body> -->

  <body>
    <nav class="nav justify-content-between mt-2">
      <div class="header_bar_text">
        HEllO WORLD, ajaf fhafhf fhahf 
      </div>
      <div>
        <ul class="header_bar_social d-flex flex-row align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-pinterest"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
          </li>
         
          <li class="nav-item">{{ username1 }}</li>
          
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
              Search
            </button>
            <a
              href="{{ url_for('logout') }}"
              class="btn btn-outline-dark my-2 my-sm-0"
              >Logout</a
            >
            <a
              href="{{ url_for('login') }}"
              class="btn btn-outline-dark my-2 my-sm-0"
              >Login</a
            >
          </form>
        </ul>
      </div>
    </nav>

    <div class="row mb-2">
      <div class="col-12">
        <div class="site-branding flex flex-column align-items-center">
          <h1 class="site-title text-center">
            THURSDAY'S</h1>
          </h1>
          <p class="site-description">Personal Blog</p>
        </div>

        <ul
          class="list-group list-group-horizontal section flex-lg flex-lg-row justify-content-lg-center align-content-lg-center"
        >
          <li class="nav-item border-right">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item border-right">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item border-right">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item border-right">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item border-right">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <img
          class="feature-photo mb-2"
          src="https://www.setaswall.com/wp-content/uploads/2017/12/Black-Purple-Wallpaper-19-960x854.jpg"
        />
      </div>
      <form class="form-inline justify-content-end">
        <a
          href="{{ url_for('create') }}"
          class="btn btn-outline-dark my-2 my-sm-0"
          >Add post</a
        >
      </form>
    </div>

    <div class="container single-page">
      <div class="row">
        <div class="col-3">
          
            <div id="userInfo">
              <div class="card" style="width: 100%">
                <div id="userAva"></div>
                <div class="card-body">
                  <h5 id="userName" class="card-title h4">USER NAME</h5>
                  <p id="quote" class="card-text font-italic"></p>
                  <p id="totalTweet" class="h5">Tweets</p>
                </div>
              </div>
            </div>
          
        </div>
        <div class="col-9">
          {% for post in posts %}
          <div class="row mb-5 border">
            <div class="card" style="width: 100%">
              <div class="posted-date">{{ post.created_at }}</div>
              <div class="card-title entry-title">
                <h3>{{ post.title }}</h3></div>
                    <div class="tags-links">{{ post.user_id }}</div>
               
                <a href="{{ url_for('update', id=post.id) }}">Edit</a>
                <a href="{{ url_for('delete', id=post.id) }}" > Delete</a>
                

            
              <div class="card-body entry-content">
                <p class="card-text">{{ post.body }}</p>
                <div class="row justify-content-around">
                  <div class="col-8 justify-content-between align-items-center">
                    <span><h3>Share</h3></span>
                    <a href="#"
                      ><i class="fab social_icon fa-pinterest fa-2x"></i
                    ></a>
                    <a href="#"
                      ><i class="fab social_icon fa-facebook fa-2x"></i
                    ></a>
                    <a href="#"
                      ><i class="fab social_icon fa-twitter fa-2x"></i
                    ></a>
                    <a href="#"
                      ><i class="fab social_icon fa-linkedin fa-2x"></i
                    ></a>
                  </div>
                  <div class="col-4 flex-end">
                    <h4>hhh</h4>
                  </div>
                </div>
              </div>
              <div>
                <h5>Comment</h5>
                <textarea class="textarea"></textarea>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </body>
</html>
