{% extends "layout.html" %}
{% block content %}

<div class="container" style="min-height: 700px">
        <h3>UPDATE POST</h3>
    <hr />

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="">
        {{ message }}
    </div>
    {%- endfor %}

    <form action="{{ request.url }}" method="post">
        <div>
                <div class=" container m-1 row">
                    <input class="col-12" name="title" type="Text" placeholder="**Title (max 140 characters)" value="{{post.title}}">
                </div>
    
                <div class="container m-1 row">
                    <textarea class=" postfield col-12" name="body" placeholder="**body"> {{ post.body }} </textarea><br>
                </div>
            </div>
    
            <div class="form-check">
                <input type="checkbox">
                <label>Yes, I read the mathafaqueur rules.</label>
            </div>
            <div class="text-right">
                <a href="{{ url_for('hello') }}" class="btn btn-outline-dark my-2 my-sm-0 px-5"> Publish </a>
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0 px-5"> Save changes</button>
            </div>
    
    </form>
</div>

{% endblock %}